<div class="row">
	<dl class="dl-horizontal span4">
	  <dt><strong>country_id:</strong></dt>
	  <dd><%= address.country_id %></dd>
	  <dt><strong>province:</strong></dt>
	  <dd><%= address.province %></dd>
	  <dt><strong>city:</strong></dt>
	  <dd><%= address.city %></dd>
	  <dt><strong>street:</strong></dt>
	  <dd><%= address.street %></dd>
	  <dt><strong>building_number:</strong></dt>
	  <dd><%= address.building_number %></dd>
	  <dt><strong>apt_number:</strong></dt>
	  <dd><%= address.apt_number %></dd>
	  <dt><strong>zip:</strong></dt>
	  <dd><%= address.zip %></dd>
	</dl>
</div>